<div class="pt-5 flex flex-col gap-5 md:(gap-30 pt-30)">
  <div class="text-2xl text-center md:(text-5xl text-start)">
    hi, i'm <span class="name">toonlink</span>.
    <div>i write code on the internet.</div>
  </div>
  <div class="text-center md:(text-3xl text-start)">
    where to find me:
    <ul class="pt-2 md:text-2xl">
      <li id="discord-container">
        <input class="appearance-none" type="checkbox" id="discord" /><label
          id="discord-label"
          for="discord">my discord account</label
        ><label id="discord-account" for="discord" style="display: none"
          >@toon.link</label
        >
      </li>
      <li>
        <a href="/blog"
          >writing posts not worth reading</a
        >
      </li>
      <li>
        <a href="https://uwu.network">my cult</a>
      </li>
      <li>
        <a href="https://discord.gg/FhHQQrVs7U">my cult's discord server</a>
      </li>
      <li>
        <a href="https://keybase.io/twnlink">keybase</a>
      </li>
      <li>
        <a href="https://github.com/twnlink">github</a>
      </li>
    </ul>
  </div>
</div>

<style>
  a:hover,
  #discord-container > *:hover {
    @apply underline;
  }

  #discord-container > *,
  #discord {
    @apply cursor-pointer;
  }

  #discord:hover {
    @apply underline;
  }

  #discord:checked ~ #discord-label {
    display: none;
  }

  #discord:checked ~ #discord-account {
    display: inline-block !important;
  }

  li,
  .name {
    @apply text-green-300;
  }

  body.furry-mode li,
  body.furry-mode .name {
    @apply text-[#FEDA79];
  }

  :global(body.furry-mode .top-border) {
    @apply border-[#FEDA79];
  }
</style>
