<script>
	import "uno.css" // this should actually be injected by uno automatically but it isn't for some reason
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="toonlink, toonlink zelda">
		<link
		href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAMj/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREQERERABEREQAREREAERERAAEREAABERAAAREQAAEREAAAEQAAABEAAAARAAAAEQAAAAEREREQAAAAARERERAAAAAAERERAAAAAAAREREAAAAAAAEREAAAAAAAAREQAAAAAAAAEQAAAAAAAAARAAAAAAAAAAAAAAAIGBAACBgQAAw8MAAMPDAADn5wAA5+cAAPAPAADwDwAA+B8AAPgfAAD8PwAA/D8AAP5/AAD+fwAA"
		rel="icon" type="image/x-icon">
		<title>toonlink</title>
	
		<!-- some open graph stuff so it embeds nicely -->
		<meta property="og:image" content="/img/triforce.png">
		<meta name="theme-color" content="#86EFAC">
		<meta name="description"
			content="hi, i'm toonlink.">
	</head>
	<body>
		<slot />
	</body>
</html>
