<script>
	import "uno.css" // this should actually be injected by uno automatically but it isn't for some reason
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>toony.link</title>
	</head>
	<body>
		<slot />
	</body>
</html>
